*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.carrusel{
    display: flex;
    overflow: scroll;
}

.agente-cardBody{
    width: 200px;
    height: 200px;
    margin: 5px;
    border: 2px solid rgb(4, 4, 4);
}

.imgAgente{
 width: 200px;
 height: 200px;
}